extends layout
block header
	.carousel.slide(data-ride='carousel').mt-5
		.carousel-inner
			.carousel-item.active(style="height: 100px; margin-top:80px")

			section.align-middle.search-sec
				.container
					h2(style="color:white").mb-5 SEARCH FOR MISSING PERSON

					form(action='/person/person_search/' method='post' novalidate='novalidate')
						.row
							.col-lg-12
								.row
									.col-lg-3.col-md-3.col-sm-12
										input.form-control.search-slt(type='text' placeholder='Name' name="name")
									.col-lg-3.col-md-3.col-sm-12
										input.form-control.search-slt(type='text' placeholder='Country' name="country")
									.col-lg-3.col-md-3.col-sm-12
										select.form-control.search-slt(name="gender")
											option(value="gender" selected) Gender
											option(value="male") Male
											option(value="female") Female
									.col-lg-3.col-md-3.col-sm-12.p-0
										button.btn.wrn-btn.rounded-pill(type='submit' style="background-color:#41250a;color:white;font-size:18px" ) SEARCH

block content
	- var n = person.length -1;

	h2(style="text-align:center") MISSING PERSON
	.showcase_container.p-4.border.border-light.rounded.py-2 
		br
		.card-deck
			.row
				if n < 4
					while n >= 0
						.card.bg-dark
							span.badge.badge-pill.badge-danger#lastest_item Recent
							//- img(src="../images/recent.gif" alt="Recent" style="position:absolute;height:40px;width:40px;border-radius:50%;")
							if person[n].Image==undefined
								if person[n].Gender=="male"
									img.card-img-top(src='/mpf/missing_male.jpg' ,style="object-fit:cover;", alt=person[n].Name)
								else
									img.card-img-top(src='/mpf/missing_female.png' style="object-fit:cover;", alt=person[n].Name)
							else
								img.card-img-top(src='/uploads/missing/'+person[n].Image,style="object-fit:cover;", alt=person[n].Name)
							.card-body
								h5.card-title=person[n].Name
								ul.list-group.list-group-flush.myList
									li.list-group-item.bg-dark.text-light Gender: #{person[n].Gender}
									li.list-group-item.bg-dark.text-light Age: #{person[n].Age}
									li.list-group-item.bg-dark.text-light Skin: #{person[n].SkinColor}
									li.list-group-item.bg-dark.text-light Status: 
										if person[n].CurrentStatus == "missing"
											span.badge.badge-warning Missing
										else
											span.badge.badge-success Found	
							.card-footer.bg-light
								a(href="/person/"+person[n]._id style="color:white").btn.btn-primary
									span.fa.fa-search
									|  INVESTIGATE
						-var n=n-1;
				if n > 11
					while person.length -13 < n
						.col-sm-12.col-md-6.col-lg-4.col-xl-3.mb-4
							.card.bg-dark
								if n > person.length -5
									span.badge.badge-pill.badge-danger#lastest_item Recent
								if person[n].Image==undefined
									if person[n].Gender=="male"
										img.card-img-top(src='/mpf/missing_male.jpg', alt=person[n].Name)
									else
										img.card-img-top(src='/mpf/missing_female.png', alt=person[n].Name)
								else
									img.card-img-top(src='/uploads/missing/'+person[n].Image, alt=person[n].Name)
								.card-body
									h5.card-title=person[n].Name
									ul.list-group.list-group-flush.myList
										li.list-group-item.bg-dark.text-light Gender: #{person[n].Gender}
										li.list-group-item.bg-dark.text-light Age: #{person[n].Age}
										li.list-group-item.bg-dark.text-light Skin: #{person[n].SkinColor}
										li.list-group-item.bg-dark.text-light Status: 
											if person[n].CurrentStatus == "missing"
												span.badge.badge-warning Missing
											else
												span.badge.badge-success Found	
								.card-footer.bg-light
									a(href="/person/"+person[n]._id style="color:white").btn.btn-primary
										span.fa.fa-search
										|  INVESTIGATE
						-var n=n-1;
				else
					while n >= 0
						.col-sm-12.col-md-6.col-lg-4.col-xl-3.mb-4
							.card.bg-dark.rounded-5
								if n > person.length -5
									span.badge.badge-pill.badge-danger#lastest_item Recent
								if person[n].Image==undefined
									if person[n].Gender=="male"
										img.card-img-top(src='/mpf/missing_male.jpg', alt=person[n].Name)
									else
										img.card-img-top(src='/mpf/missing_female.png', alt=person[n].Name)
								else
									img.card-img-top(src='/uploads/missing/'+person[n].Image, alt=person[n].Name)
								.card-body
									h5.card-title=person[n].Name
									ul.list-group.list-group-flush.myList
										li.list-group-item.bg-dark.text-light Gender: #{person[n].Gender}
										li.list-group-item.bg-dark.text-light Age: #{person[n].Age}
										li.list-group-item.bg-dark.text-light Skin: #{person[n].SkinColor}
										li.list-group-item.bg-dark.text-light Status: 
											if person[n].CurrentStatus == "missing"
												span.badge.badge-warning Missing
											else
												span.badge.badge-success Found	
								.card-footer.bg-light
									a(href="/person/"+person[n]._id style="color:white").btn.btn-primary
										span.fa.fa-search
										|  INVESTIGATE
						-var n=n-1;
