//- extends layout

//- block content
//-     h1 All Articles

//-     if (articles && articles.length)
//-         each article in articles
//-             h2= article.title
//-             p Written by #{article.author}
//-             p= article.description

//-                 if (article.image)
//-                     img(src="/uploads/article/"+article.file style="width:100%;height:500px;display:block;margin-left:auto;margin-right:auto;object-fit:cover", alt=`${article.title} image`)
//-                 p= article.body
//-                 hr
//-                 h6.text-info Posted by #{author}
//-                 hr
//-                 if user.id == article.author
//-                     a.btn.btn-success.mr-4(href='/articles/edit/'+article._id style="color:white") Edit
//-                     a.btn.btn-danger.delete-article(href="#", data-id= article._id style="color:white") Delete	
extends layout

block header

block content
    each article in articles
        .article-card.mb-3
            h2.text-center(style="text-decoration:underline")= article.title
            .bg-light.p-4.rounded-3
                br
                if article.file != null
                    img(src=`/uploads/article/${article.file}`, style="width:100%;height:500px;display:block;margin-left:auto;margin-right:auto;object-fit:cover")
                br
                p= article.body
                hr
                h6.text-info Posted by #{article.author}
                hr
                if user.id == article.author
                    a.btn.btn-success.mr-4(href=`/articles/edit/${article._id}` style="color:white") Edit
                    a.btn.btn-danger.delete-article(href="#" data-id=article._id style="color:white") Delete